body {
	margin: 0;
	padding: 0;
	background-color: #EFEFEF;
	font-family: "Open Sans", sans-serif;
}

.container {
	width: 700px;
	margin:0 auto;
	background-color: white;
	box-shadow: 0 0 1px 0px #999;
	margin-top: 20px;
}

.container .content {
	padding: 8px 12px;
}

.menu {
	background-color: #006392;
	height: 34px;
}

.menu a {
	color: white;
}